.btn {
    height: var(--button-height);
    width: var(--button-width);
    display: flex;
    cursor: pointer;
    border-radius: var(--button-border-radius);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: var(--medium-font-size);
    font-weight: 500;
}

.btn-details {
    background-color: var(--background-color);
    color: var(--black-text);
    border-width: 0.1rem;
    border-color: var(--black-text);
    border-style: solid;
}

.btn-add {
    background-color: var(--black-text);
    color: var(--background-color);
}