.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--background-color);
    box-shadow: 0 0.25rem 0.25rem 0 var(--black-text);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;
    z-index: 100;
}

.navbar_logo{
    cursor: pointer;
}

.navbar_title{
    font-size: var(--title-font-size);
    font-weight: 600;
}