.stage-card {
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    border-color: var(--black-text);
    height: var(--card-height);
}

.stage-card_vertical {
    width: 18.5rem;
    flex-direction: column;
    object-fit: cover;
    aspect-ratio: 1;
    max-width: 18.5rem;
}

.stage-card__image {
    width: 15rem;
    height: 7.5rem;
    margin-left: calc(100% / 10);
    object-fit: contain;
    margin-bottom: 0.3rem;
}

.stage-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.075rem;
}

.stage-card__title {
    font-size: var(--big-font-size);
    font-weight: 500;
    width: 11rem;
    max-width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4.375rem;
}

.stage-card_horizontal{
    width: 62.5rem;
    height: calc(var(--card-height) - var(--button-height) - 1rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem
}

.stage-card__info_panel{
    width: 18.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stage-card__horizontal_content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.stage-card__info_panel{
    gap: 1rem;
    background-color: #c2f1e4;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.stage-card__imput{
    font-size: var(--medium-font-size);
    font-weight: 500;
    text-align: left;
}

.stage-card__inputDimentions {
    margin-left: 0.5rem;
    margin-bottom: 0.7rem;
}

.stage-card__inputText{
    height: calc(var(--button-height) - 0.3rem);
    width: 12.5rem;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    background-color: var(--background-color) !important;
    border: var(--border-width) solid var(--black-text);
    border-radius: var(--border-radius);
}

.stage-card__result{
    font-size: var(--big-font-size);
    font-weight: 500;
    text-align: center;
    line-height: 1.8rem;
}