.search-input{
    width: var(--text-input-width);
    height: stage(var(--button-height) + 0.625rem) !important;
}

.text-input {
    width: var(--text-input-width);
    height: var(--button-height);
    position: relative;
}

.text-input__label {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-icon{
    position: absolute;
    width: var(--search-icon-side-size);
    height: var(--search-icon-side-size);
    right: 0.5rem;
    top: 0.5rem;
}

.text-input__input {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    background-color: var(--background-color);
    border: var(--border-width) solid var(--black-text);
    border-radius: var(--border-radius);
    outline: none;
    font-size: var(--big-font-size);
}