{{define "stage_card_vertical"}}
<div class="stage-card stage-card_vertical">
    <img class="stage-card__image" src="{{ .ImageURL }}" alt="{{ .Title }}" />
    <div class="stage-card__content">
        <h2 class="stage-card__title">{{ .Title }}</h2>
        <!--<p class="card-description">{{ .Description }}</p>-->
        <form action="/stages" method="post" style="display: inline">
            <input type="hidden" name="stage-id" value="{{ .ID }}" />
            <button type="submit" class="btn btn-add">Добавить</button>
        </form>
        <a href="/stage/{{ .ID }}" class="btn btn-details">Подробнее</a>
    </div>
</div>
{{end}}
