{{define "stage_card_horizontal_view"}}
<div class="stage-card stage-card_horizontal">
    <div class="stage-card__horizontal_content">
        <div class="stage-card__info_panel">
            <img class="stage-card__image" src="{{ .Stage.ImageURL }}" alt="{{ .Stage.Title }}">
            <h2 class="stage-card__title">{{ .Stage.Title }}</h2>
        </div>
    </div>
    <div class="stage-card__input">
        <p class = "stage-card__inputDimentions"> {{ .Field1Dimension }}</p>
        <div class = "stage-card__inputText"> {{ template "text-input" .InputField1 }} </div>
    </div>
    <div class="stage-card__input">
        <p class = "stage-card__inputDimentions"> {{ .Field2Dimension }}</p>
        <div class = "stage-card__inputText"> {{ template "text-input" .InputField2}} </div>
    </div>
    <p class= "stage-card__result"> Выбросы CO2 на этапе: <br>{{ .CardResult }}т</p>
</div>
{{end}}