{{define "search_input"}}
<div class="search-input text-input">
    <input type="image" src="http://localhost:9000/stageimages/search-sign.svg" class="search-icon submit">
    <input class = "text-input__input" type = "{{.Type}}", name = "{{.Name}}", placeholder = "{{.Placeholder}}", value = "{{.Value}}">
</div>
{{end}}

{{define "text-input"}}
<div class="text-input">
    <input class = "text-input__input" type = "{{.Type}}", name = "{{.Name}}", placeholder = "{{.Placeholder}}", value = "{{.Value}}">
</div>
{{end}}